body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.food {
  color: orange;
}
.about-me {
  display: flex;
  margin-bottom: 200px;
  background-image: url(bgimg.jpg);
  background-image: url(bgimg1.png);
}
.half-width {
  width: 50%;
  padding-left: 2%;
  padding-right: 5%;
}
.half-width img {
  width: 80%;
}
.linked-button {
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  padding: 10px 35px;
  color: white;
  border-radius: 25px;
}
#about {
  background-repeat: no-repeat;
}
.recipe {
  text-align: center;
}
.description {
  text-align: center;
}
.item {
  display: flex;
  margin: 200px;
}
.menu {
  width: 500px;
  padding: 20px 20px 20px 20px;
  box-shadow: 10px 10px 40px gray;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5%;
}
.menu img {
  width: 100%;
}
.header {
  margin-bottom: 0.5%;
}
